# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/
build/
*.jpg
*.txt
prezentacja/
!/prezentacja/presentation.tex
!/prezentacja/presentation.pdf


cmake-build-debug
cmake-*
.idea